.grid-container {
  display: grid;

  grid-column-gap: 20px;
}

.grid-item {
  float: left;
  margin-left: 18%;
}

.main-footer {
  color: white;
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  padding-top: 3em;
  position: relative;
}
